extends layout

block content
    head
        link(href='stylesheets/style.css', rel='stylesheet')
        script(src="https://code.highcharts.com/stock/highstock.js")
        script(src="../public/javascripts/markitQuoteService.js")
        script(src="../public/javascripts/addStock.js")
        script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.js")
        //script.
            $(function(){
                var sym = 'MSFT';//$.url().param('symbol') || 'AAPL';
                var dur = 3650; //$.url().param('duration') || 3650;
                new Markit.InteractiveChartApi(sym, dur);
            });
    body
        h1
        include ./includes/messages.pug
            div.container
                form(method='post' action='/saveStock')
                    div.form-group
                        label(for='stock') Stock Symbol
                        br
                        input#stock(type="text" placeholder="type to search stocks" name="stock")
                        input#txtName(type="hidden" name="txtName")
                        br
                        br
                        br
                        br
                        br
                        br
                       
                    button.btn.btn-primary(type='submit') Save
                //div#chartDemoContainer

                