extends layout

block content
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Landing Page - Start Bootstrap Theme
    // Bootstrap Core CSS
    //link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/landing-page.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Header
    a(name='about')
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              h1 Welcome to Project 2 Chat App
              h3 Connect instantly with your family and friends on this instant messaging app
              hr.intro-divider
      // /.container
    // /.intro-header
    // Page Content
    a(name='services')
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Not a Member:
              br
            p.lead
              a.btn.btn-default.btn-sm(href='/users/register') Register
              |  for free!  
              br
              br
              |  Register now so that you may connect with people instantly.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='images/people.png', alt='')
      // /.container
    // /.content-section-a
    .content-section-b
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Already Registered:
              br
            p.lead
              a.btn.btn-default.btn-sm(href='/users/login') Login
              br
              br
              | Login now to begin chatting with people you know.
          .col-lg-5.col-sm-pull-6.col-sm-6
            img.img-responsive(src='images/typing.png', alt='')
      // /.container
    // /.content-section-b
    .content-section-a
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Creators:
              br
            p.lead
              | Steven Julien
              br
              | Dax Kelson
              br
              | Steven Nye
              br
              | Wesley Smith
              br
              | Jonathan Wheeler
              br
              | Bryan Winmill
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='images/lightbulb.png', alt='')
      // /.container
    // /.content-section-a
    a(name='contact')
    .banner
      .container
        .row
          .col-lg-6
      // /.container
    // /.banner
    // Footer
    footer
      .container
        .row
          .col-lg-12
          // jQuery
          // script(src='js/jquery.js')
          // Bootstrap Core JavaScript
          //script(src='js/bootstrap.min.js')
  