extends layout

block content
    head
        link(href='stylesheets/snippet.css', rel='stylesheet')
        link(href='font-awesome/css/font-awesome.css', rel='stylesheet')
        script(src="https://code.highcharts.com/stock/highstock.js")
        script(src="../public/javascripts/markitQuoteService.js")
        script(src="../public/javascripts/addStock.js")
        script(src="http://code.jquery.com/ui/1.12.0/jquery-ui.js")
        
    body
        include ./includes/messages.pug
        div.container
            table.table.table-sm
                thead.thead-inverse
                    tr
                        th.col-md-4 Stock Name
                        th.col-md-3 Stock Symbol
                        th.col-md-3 Percent Allocated
                        th.col-md-5 Up/Down
                        th.col-md-5 
                tbody
                    each stock in stocks
                        tr
                            td.col-md-4 #{stock.fullname}
                            td.col-md-3 #{stock.stock}
                            td.col-md-3 #{stock.percent}
                            td.col-md-5 i.fa.fa-arrow-circle-down
                            td.col-md-5 i.fa.times-circle
                //- script.
                //-     var stockDiv = document.createElement('div');
                //-     var stock = {stock: '#{stock.stock}'};
                //-     stockDiv.className = 'chart';
                //-     document.getElementsByClassName('container')[0].appendChild(stockDiv);
                //-     var sym = stock.stock.toString();
                //-     var dur = 3650;
                //-     new Markit.InteractiveChartApi(sym, dur, stockDiv);
                footer
                    hr
                    copyright &copy; 2017 CS3750 Project 4
                