extends layout

block content        

        link(href='../public/stylesheets/management.css', rel='stylesheet')
        div#title
            h1 #{title}
        div#mmpanels
            div#mmleftpanel
                div#username
                    h1  #{user}
                hr
                h3 Money Remaining:
                div(style="display:flex;padding-right:12px;") 
                    div(style="width:200px;") test   
                    input(type="range" min="0" max="100" value="100" disabled="true" style="width:100%")#defaultMoney.sliders
                    input(type="text" value="100" style="margin-left:5px;width:30px;" readOnly)#totalText
                div#stocks   
                div#save
            div#mmrightpanel
                div#chart(style="height: 400px;")
        script(src="https://code.highcharts.com/highcharts.js")
        script(src="https://code.highcharts.com/highcharts-3d.js")
        script(src="https://code.highcharts.com/modules/exporting.js")
        script(src="../public/javascripts/moneyManagement.js")