extends layout

block content
    .container
        h1 Registration Form
        include ./includes/messages.pug
        form(method='post', action='/users/register')
            .form-group
                label First Name
                input#fName.form-control(type='text', name='fname', placeholder='First name', required)
            .form-group
                label Last Name
                input#lName.form-control(type='text', name='lname', placeholder='Last name', required)
            .form-group
                label Username (Allowed chars: alphanumeric plus _ and -)
                input#uName.form-control(type='text', name='username', pattern="[0-9A-Za-z-_]+" placeholder='Username', required)
            .form-group
                label Email
                input#email.form-control(type='email', name='email', placeholder='Email', required)
            .form-group
                label Password (6 Character Minimum)
                input#password.form-control(type='password', name='password', pattern=".{6,}", placeholder='Password', required)
            .form-group
                label Confirm Password
                input#password.form-control(type='password', name='password2', pattern=".{6,}", placeholder='Confirm Password', required)
            button.btn.btn-primary(type='submit') Register
            br
            br
            |   Have An Account? 
            a.btn.btn-default.btn-sm(href='/users/login') Login Now
            footer
                hr
                copyright &copy; 2017 CS3750 Project 4
