extends layout

block content
    head
        script(src="../public/javascripts/viewStock.js")
    body
        h1
        include ./includes/messages.pug
            div.container
                p Stock Symbol
                input#stock(type="text" placeholder="type to search stocks")
                span.help-inline
                    img(src="http://blog.teamtreehouse.com/wp-content/uploads/2015/05/InternetSlowdown_Day.gif")
                span.label-info
                //div.row
                    input(type='button' )
                    
                div#chartDemoContainer