#mmpanels {
    display:flex;
    
}

#mmleftpanel{
    width:55vw;
    
}

#mmrightpanel{
    width:55vw;
    height: 50vh;
    
}
#stocks{
    height:50vh;
    max-height:50vh;
    overflow-x:hidden;
    overflow-y:auto;
}

.moneySliders{
    width:60%;
}
.rangeText{
    width:30px;
    margin-left:5px;
}
.stockItem{
    display:flex;
}
.stockTitle{
    width:200px;
}
#stocks{
    color: darkgrey;
    height:20vh;
    
}
#title{
    width: 100%;
}
